./venv
./idea
./results
./PointNet/checkpoints
AdaPoinTr/experiments
AdaPoinTr/PoinTr_cfgs
AdaPoinTr/PoinTr_data
AdaPoinTr/extensions
./VRCNet/checkpoints
./extensions/*/build
./extensions/*/chamfer.egg-info
./extensions/*/dist



